@import '../lib/variables';
@import '../lib/mixins';
@import '../base';

.pcr-app[data-theme='monolith'] {
    width: 270px;
    padding: 20px;

    .pcr-selection {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
        order: 1;
    }

    .pcr-color-palette {
        @include transparency-background;
        height: 170px;
        margin-top: 15px;
		overflow: hidden;

		.pcr-picker {
			height: 13px;
			width: 13px;
			box-shadow: 0 0 0 2px #fff inset, 1px 1px 6px rgba(0,0,0,0.4);
		}

        .pcr-palette {
            height: 100%;
        }
    }

    .pcr-color-chooser,
    .pcr-color-opacity {
        height: 10px;
        margin-top: 0.75em;
        border-radius: 4px;

        .pcr-picker {
            top: 50%;
            transform: translateY(-50%);
        }

        .pcr-slider {
            flex-grow: 1;
            border-radius: 5px;
			box-shadow: 0 0 0 1px rgba(0,0,0,.2) inset;
        }
    }

    .pcr-color-chooser .pcr-slider {
        background: colorRainbow(to right);
    }

    .pcr-color-opacity {
        @include transparency-background(8px);

        .pcr-slider {
            background-image: linear-gradient(to left, #000, transparent);
        }
    }
}
