@import 'lib/variables';
@import 'lib/mixins';

.pickr {
    position: relative;
    height: 27px;
    width: 50px;
    padding: 3px;
    border-radius: $border-radius-mid;
    border: 1px solid #D4DAE0;
    transform: translateY(0); // Create local transform space

    * {
        outline: none;
        border: none;
        -webkit-appearance: none;
    }
}

.pcr-button {
    @include transparency-background(14px);
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    transition: all 0.3s;
    cursor: pointer;

    &:after {
        @include pseudo-reset;
        height: 100%;
        width: 100%;
        transition: background 0.3s;
        background: currentColor;
    }

    &.disabled {
        cursor: not-allowed;
    }
}

.pickr,
.pcr-app {

    * {
        box-sizing: border-box;
        outline: none;
        border: none;
        -webkit-appearance: none;
    }
}

.pcr-palette,
.pcr-slider {
	transition: box-shadow 0.3s;
}

.pcr-app {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 10000;
    border-radius: $border-radius-mid;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s 0.3s;
    font-family: $font-family;
    box-shadow: $box-shadow-app;
    left: 0;
    top: 0;

    &.visible {
        transition: opacity 0.3s;
        visibility: visible;
        opacity: 1;
    }
}

.pcr-swatches {
	display: grid;
	align-items: center;
	grid-template-columns: repeat(9, 1fr);
	gap: 7px;
}

.pcr-swatch {
	@include transparency-background;
	position: relative;
	width: 100%;
	border-radius: $border-radius-mid;
	cursor: pointer;
	transition: all .15s;
	padding-bottom: 100%;

	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: currentColor;
		border-radius: $border-radius-mid;
		border: 1px solid rgba(0, 0, 0, .1);
	}

	&:hover {
		filter: brightness(1.05);
	}
}

.pcr-interaction {
	display: flex;
	margin-top: 10px;
	order: 2;
	direction: ltr;

	input {
		transition: all .15s;

		&:hover {
			filter: brightness(0.975);
		}
	}
}

.pcr-result {
	font-size: 10px;
	padding: 6.5px 8px;
	color: #495157;
	border-radius: 3px 0 0 3px;
	border: 1px solid #d4dae0;
	border-right-width: 0;
}

.pcr-type.active {
	color: #fff;
	background: $palette-cloud-blue;
}

.pcr-save {
	background: $palette-cloud-blue;
}

.pcr-clear {
	width: auto;
	font-size: 9px;
	padding: 0 12.5px;
	text-transform: uppercase;
	border-radius: 0 3px 3px 0;
	background-color: #D5DADF;
	color: #6D7882;
	font-family: $font-family;
	cursor: pointer;
}

.pcr-picker {
	position: absolute;
	height: 18px;
	width: 18px;
	border: 2px solid #fff;
	border-radius: 100%;
	user-select: none;
}

.pcr-color-palette,
.pcr-color-chooser,
.pcr-color-opacity {
	position: relative;
	user-select: none;
	display: flex;
	flex-direction: column;
	cursor: grab;

	&:active {
		cursor: grabbing;
	}
}
